@charset "UTF-8";


 html {
	height: 100%;
	width: 100%;
  }

  @font-face {
	font-family: titulo;
	src: url('Fonts/Montserrat-SemiBold.ttf') format('truetype');
  }

  @font-face {
	font-family: tituloh2;
	src: url('Fonts/RobotoSlab-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
	font-family: asap;
	src: url('Fonts/Asap_Expanded-MediumItalic.ttf') format('truetype');
  }

  @font-face {
	font-family: fonteh5;
	src: url('Fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
  }
  
  @font-face {
	font-family: fonteh6;
	src: url('Fonts/Ubuntu-MediumItalic.ttf') format('truetype');
  }

  p {
	font-family: 'sans';
	text-align: justify;
  }  

  
  a {
	text-decoration: none;
  }

  a:hover {
	text-decoration: underline;
  }

  mark {
	background-color: #606060;
	border-radius: 15px;
	margin: 5px;
	padding: 5px;
  }

  nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -30px;
	right: 100px;
  }
  
  nav#menu li {
	font-family: 'titulo';
	display: inline-block;
	background-color: #d3d3d3;
	border-radius: 15px;
	box-shadow: 1px 2px 3px #36454F;
	padding: 15px;
    margin: 5px;
	transition: background-color 2s;
  }
  
  nav#menu {
	display: block;		  
  }
  
  nav#menu h1 {
	display: none;
  }
  
  nav#menu li:hover {
	  background-color: #606060;
  }
  
  nav#menu a{
	  color: #000000;
	  text-decoration: none;
  }
  
  h1 {
	background-color: #c0c0c0;
	border-radius: 15px;
	font-family: 'titulo';
	font-size: 25pt;
	color: #28282B;
	box-shadow: 1px 2px 3px #36454F;
	text-shadow: 1px 2px 3px #000000;
	padding: 10px;
	margin-bottom: 15px;
  }
  
  h2 {
	  font-family: 'tituloh2';
	  text-align: center;
	  font-size: 20pt;
	  color: #71797E;
	  text-shadow: 1px 2px 2px #000;
	  padding: 5px;	
	  margin: 10px;
  }
  
  h5{
	font-family: 'fonteh5';
	margin: 3px;
	font-size: 12pt;
  }
  
  h6{
	font-family: 'fonteh6';
	font-size: 10pt;
  }

  small {
	font-size: 10pt;
   }

  table {
	font-family: 'FontLista', sans-serif;
	border-radius: 10px;
	display: block;
	width: 250px;
	padding: 10px;
	margin: auto;
	box-shadow: 2px 2px 6px black;
	background-image: linear-gradient(to bottom, #c0c0c0, #F0FFFF);
  }
  
  table td {
		font-size: 15pt;
		padding: 10px;
		padding-right: 5px;
		font-style: italic;
		margin: auto;
		box-sizing: border-box;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  
  table caption{
	font-family: 'asap';
	font-size: 25pt;
	text-align: center;
	color: #71797E;
	text-shadow: 1px 1px 1px #000;
	margin: 5px;
  }
  
  body {
	  background-image: url("Imagens/wallpaper_website.jpg");
	  background-repeat: repeat-y;
	  background-size: 1350px;
  }
  
  
  aside#mot{
	border-radius: 30px;
	display: block;
	width: 425px;
	float: right;
	background-color: #899499;
	padding: 20px;
	margin: 50px 10px 50px 5px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);
  }
  
  div#Descrição img {
	width: 40%;
	height: 40%;
	border-radius: 7px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
   }

  div#Descrição{
	border-radius: 20px;
	bottom: 30px;
	display: block;
	margin-top: 20px;
	margin-right: auto;
	padding: 10px;
	width: auto;
	position: static;
	background-image: repeating-radial-gradient(#808080, #D3D3D3);
	box-shadow: 2px 4px 6px black;
  }

  div#Descrição p{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: right;
	font-size: 10pt;
	margin: 10px;
  }

  div#Audio{
	display: flex;
	justify-content: center;
}

	iframe{
		display: flex;
		justify-content: center;
	}

  footer#rodape {
		  margin-top: 20px;
		  padding-top: 10px;
		  border-top: 1px solid #606060;
		  clear: both;
		  
  }
  
  footer#rodape p{
		color:#000
		font-size: 12pt;
		text-align: center;		  
  }

