html {
	height: 100%;
	width: 100%;
  }
  @charset "UTF-8";
  
  @font-face {
	  font-family: 'FontTitulo1';
	  src: url("../Fonts/YsabeauOffice-BlackItalic.ttf");
  }
  
  @font-face {
		  font-family: 'FontH2';
		  src: url("../Fonts/Montserrat-SemiBold.ttf");
  }
  
  @font-face {
	font-family: 'FontH3';
	src: url("../Fonts/Montserrat-SemiBold.ttf"); 
  }
  p {
	text-align: justify;
	text-indent: 25px;
  }  

  
  a {
	text-decoration: none;
  }

  a:hover {
	text-decoration: underline;
  }

  mark {
	background-color: #606060;
	border-radius: 15px;
	margin: 5px;
	padding: 5px;
  }

  nav#menu ul {
	  list-style: none;
	  text-transform: uppercase;
	  position: absolute;
	  top: -30px;
	  right: 100px;
  }
  
  nav#menu li {
		  display: inline-block;
		  background-color: #dddddd;
		  padding: 15px;
		  margin: 5px;
		  transition: background-color 2s;
  }
  
  nav#menu {
		  display: block;		  
  }
  
  nav#menu h1 {
		  display: none;
  }
  
  nav#menu li:hover {
	  background-color: #606060;
  }
  
  nav#menu a{
	  color: #000000;
	  text-decoration: none;
  }
  
  h1 {
	font-family: 'FontTitulo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 2px 2px #000000;
	padding: 5px;
	margin-bottom: 15px;
  }
  
  h2 {
	  font-family: 'FontH2', sans-serif;
	  text-align: center;
	  font-size: 25pt;
	  color: #606060;
	  padding: 5px;	
	  margin: 10px;
  }
  
  
  table {
	font-family: 'FontLista', sans-serif;
	border-radius: 10px;
	display: block;
	width: 250px;
	padding: 10px;
	margin: auto;
	box-shadow: 2px 2px 6px black;
	background-image: linear-gradient(to bottom, #a0816c, #d1c0a8);
  }
  
  table td {
		font-size: 15pt;
		padding: 10px;
		padding-right: 5px;
		font-style: italic;
		margin: auto;
		box-sizing: border-box;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  
  table td:hover {
	  text-decoration: underline;
  }

  table caption{
	text-align: center;
	margin: 10px;
	padding: 10px;
  }
  
  body {
	  background-color: #d1c0a8;
  }
  
  
  aside {
	border-radius: 20px;
	bottom: 30px;
	display: block;
	width: 450px;
	float: right;
	background-color: #a9a9a9;
	padding: 20px;
	margin: 10px 10px 5px 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  div#Descrição{
	border-radius: 20px;
	bottom: 30px;
	display: block;
	margin-top: 20px;
	padding: 10px;
	width: 750px;
	position: center-right;
	background-color: #C4A484;
	box-shadow: 2px 2px 6px black;
  }
  
  footer#rodape {
		  margin-top: 20px;
		  padding-top: 10px;
		  border-top: 1px solid #606060;
		  clear: both;
		  
  }
  
  footer#rodape p{
		  text-align: center;
		  
  }